:root {
  /* ## Colors */

  /* ### Primary */

  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  /* ### Neutral */

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
}

.header-container {
  padding-bottom: 104px;
  background: url(../images/bg-tablet-pattern.svg),
    url(../images/bg-tablet-pattern.svg);
  background-size: 120vw 120vw, 80vw 80vw;
  background-position: 16vw -44vw, 62vw 116vw;
  background-repeat: no-repeat, no-repeat;
}

.nav-bar {
  position: relative;
  padding: 0 5%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .logo {
  width: 100px;
  min-width: 100px;
}

.nav-bar .nav-menu {
  position: absolute;
  top: 100%;
  display: none;
}

.getstarted-btn {
  padding: 8px 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--very-light-gray);
  background-color: var(--bright-red);
  border: none;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(12, 88%, 59%, 0.4);
}

.ham-btn {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
}

.ham-btn img {
  display: block;
  width: 24px;
  height: 18px;
}

.ham-icon {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.nav-bar .getstarted-btn {
  display: none;
}

.intro-header {
  padding: 0 5%;
  color: var(--dark-grayish-blue);
  text-align: center;
}

.intro-header .text-content {
}

.intro-header .title {
  color: var(--very-dark-blue);
}

.intro-header .paragraph {
  padding: 0 8%;
}

.about-manage {
  padding: 8px 0 72px 0;
  color: var(--dark-blue);
  /* text-align: center; */
}

.header-about-manage .title {
  margin-top: 0;
  color: var(--very-dark-blue);
  text-align: center;
}

.header-about-manage > p {
  margin-bottom: 52px;
  padding: 0 8%;
  text-align: center;
}

.about-manage article {
  padding-left: 5%;
}

.article-about-manage:not(:last-of-type) {
  margin-bottom: 42px;
}

.about-manage .article-title {
  margin-top: 0;
  padding: 8px 0;
  font-weight: 700;
  color: var(--very-dark-blue);
  background-color: var(--very-pale-red);
  border-radius: 28px 0 0 28px;
}

.article-title .number {
  margin-right: 8px;
  padding: 8px 24px;
  /* height: 100%; */
  color: var(--very-light-gray);
  background-color: var(--bright-red);
  border-radius: 28px;
}

.article-about-manage .text {
  margin-bottom: 0;
  padding-right: 4%;
}

.testimonial-container {
  padding: 0 5% 32px 5%;
  text-align: center;
  color: var(--dark-blue);
}

.testimonial-container .title {
  margin-top: 0;
  margin-bottom: 82px;
  color: var(--very-dark-blue);
}

.testimonial-articles-box {
  margin-bottom: 16px;
}

.testimony-box {
  position: relative;
  padding: 56px 5% 16px 5%;
  margin-top: 20px;
  background-color: var(--very-light-gray);
}

.testimony-box .user-photo {
  position: absolute;
  top: -40px;
  left: 40%;
  width: 80px;
  height: 80px;
}

.testimony-box .user-name {
  margin-top: 0;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.slider-button-box {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.slider-button-box .slider-btn {
  padding: 0;
  width: 12px;
  height: 12px;
  border: thin solid var(--bright-red);
  background-color: transparent;
  border-radius: 50%;
}

.simplify-container {
  padding: 72px 5%;
  text-align: center;
  color: var(--very-light-gray);
  background: url(../images/bg-simplify-section-mobile.svg), var(--bright-red);
  background-position: 0px center, center;
  background-repeat: no-repeat;
}

.simplify-container .title {
  margin-top: 0;
  font-size: 40px;
}

.simplify-container .getstarted-btn {
  color: var(--bright-red);
  background-color: var(--very-light-gray);
}

footer {
  padding: 48px 5% 32px 5%;
  color: var(--very-light-gray);
  background-color: var(--very-dark-blue);
}

.footer-form {
  display: flex;
  align-items: stretch;
  gap: 6px;
}

.footer-form .input-updates {
  padding-left: 12px;
  /* height: 100%; */
  min-width: 150px;
  /* flex-basis: 150px; */
  flex: 3;
  border: thin solid transparent;
  border-radius: 24px;
}

.footer-form .go-btn {
  padding: 8px 0;
  /* width: 12%; */
  min-width: 60px;
  flex: 1;
  font-weight: 700;
  color: var(--very-light-gray);
  border-radius: 24px;
  border: thin solid var(--bright-red);
  background-color: var(--bright-red);
}

.footer-menu {
  margin: 48px 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 32%;
}

.footer-menu .part-1,
.footer-menu .part-2 {
  line-height: 2;
}

.social-media-list {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 8px; */
}

.social-media-list .fa-brands {
  font-size: 28px;
}

footer .logo {
  margin: 0 auto 32px auto;
  display: block;
}

footer .copyright {
  margin-bottom: 0;
  text-align: center;
  font-size: 0.8em;
  color: var(--dark-grayish-blue);
}

@media (min-width: 1024px) {
  .header-container {
    background: url(../images/bg-tablet-pattern.svg);
    background-size: 58vw 58vw;
    background-position: 52vw -16vw;
    background-repeat: no-repeat;
  }

  main {
    background: url(../images/bg-tablet-pattern.svg);
    background-size: 50vw 50vw;
    background-position: -32vw 14vw;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .nav-bar {
    padding: 0 8%;
    height: 16vh;
  }

  .nav-bar .nav-menu {
    position: initial;
    margin: 0;
    display: flex;
    gap: 20px;
  }

  .ham-btn {
    display: none;
  }

  .nav-bar .getstarted-btn {
    display: block;
  }

  .intro-header {
    padding: 0 8%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
    text-align: left;
  }

  .intro-header .title {
    font-size: 52px;
    /* padding-right: 28%; */
    padding-right: 6vw;
  }

  .intro-header .paragraph {
    padding-left: 0;
    /* padding-right: 32%; */
    padding-right: 12vw;
  }

  .about-manage {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
  }

  .header-about-manage .title {
    padding-right: 10vw;
    text-align: left;
  }

  .header-about-manage > p {
    padding-left: 0;
    padding-right: 12vw;
    text-align: left;
  }

  .about-manage article {
    padding-left: 0;
  }

  .about-manage .article-title {
    background-color: transparent;
  }

  .article-about-manage .text {
    padding-left: 78px;
    padding-right: 0;
  }

  .testimonial-container {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial-articles-box {
    display: flex;
    /* flex: 4; */
    gap: 18px;
    transform: translateX(-112px);
  }

  .testimony-box {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8px;
    /* width: 1000px; */
    min-width: 512px;
  }

  .testimony-box .user-photo {
    left: 42%;
  }
}
