:root {
  /* ## Colors */

  /* ### Primary */

  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  /* ### Neutral */

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
}

.header-container {
  padding-bottom: 104px;
  background: url(../images/bg-tablet-pattern.svg),
    url(../images/bg-tablet-pattern.svg);
  background-size: 120vw 120vw, 80vw 80vw;
  background-position: 16vw -44vw, 62vw 116vw;
  background-repeat: no-repeat, no-repeat;
}

.nav-bar {
  position: relative;
  padding-left: 4%;
  padding-right: 4%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .logo {
  width: 100px;
  min-width: 100px;
}

.nav-bar .menu-box-background {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 4%;
  width: 100%;
  height: 94vh;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #c0c0c3,
    #85858a,
    #4e4f55,
    #1d1e25
  );
  opacity: 0.4;
  z-index: 10;
  -webkit-clip-path: inset(0 50% 0 50%);
  clip-path: inset(0 50% 0 50%);
  transition: all 300ms;
}

.nav-bar .menu-box-background.clicked {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.nav-bar .menu-box {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0 4% 12px 4%;
  width: 100%;
  height: 94vh;
  background: transparent;
  z-index: 11;
}

.nav-bar .nav-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 12px 0;
  height: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--dark-blue);
  text-align: center;
  background-color: var(--very-light-gray);
  border-radius: 4px;
  -webkit-clip-path: inset(0 50% 0 50%);
  clip-path: inset(0 50% 0 50%);
  transition: all 300ms;
}

.nav-bar .nav-menu.clicked {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.nav-menu .link {
  transition: all 300ms;
}

.nav-menu .link:hover {
  color: var(--dark-grayish-blue);
}

.getstarted-btn {
  padding: 8px 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--very-light-gray);
  background-color: var(--bright-red);
  border: none;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(12, 88%, 59%, 0.4);
  transition: all 300ms;
}

.getstarted-btn:hover {
  background-color: #f89074;
}

.ham-btn {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
}

.ham-btn img {
  display: block;
  width: 24px;
  height: 18px;
  transition: all 300ms;
}

.ham-icon {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.ham-icon.clicked {
  -webkit-clip-path: inset(0 50% 0 50%);
  clip-path: inset(0 50% 0 50%);
}

.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: inset(0 50% 0 50%);
  clip-path: inset(0 50% 0 50%);
}

.close-icon.clicked {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.nav-bar .getstarted-btn {
  display: none;
}

.intro-header {
  padding-left: 4%;
  padding-right: 4%;
  color: var(--dark-blue);
  text-align: center;
}

.intro-header .title {
  color: var(--very-dark-blue);
}

.intro-header .paragraph {
  padding-left: 8%;
  padding-right: 8%;
}

main {
  overflow: hidden;
}

.about-manage {
  padding-top: 8px;
  padding-bottom: 72px;
  color: var(--dark-blue);
}

.header-about-manage .title {
  margin-top: 0;
  color: var(--very-dark-blue);
  text-align: center;
}

.header-about-manage > p {
  margin-bottom: 52px;
  padding: 0 8%;
  text-align: center;
}

.about-manage article {
  padding-left: 4%;
}

.article-about-manage:not(:last-of-type) {
  margin-bottom: 42px;
}

.about-manage .article-title {
  margin-top: 0;
  padding: 8px 0;
  font-weight: 700;
  color: var(--very-dark-blue);
  background-color: var(--very-pale-red);
  border-radius: 28px 0 0 28px;
}

.article-title .number {
  margin-right: 8px;
  padding: 8px 24px;
  color: var(--very-light-gray);
  background-color: var(--bright-red);
  border-radius: 28px;
}

.article-about-manage .text {
  margin-bottom: 0;
  padding-right: 4%;
}

.testimonial-container {
  padding: 0 4% 32px 4%;
  text-align: center;
  color: var(--dark-blue);
}

.testimonial-container .title {
  margin-top: 0;
  margin-bottom: 82px;
  color: var(--very-dark-blue);
}

.testimonial-articles-box {
  margin-bottom: 16px;
  display: flex;
  gap: 4%;
  transition: all 600ms;
}

.testimony-box {
  position: relative;
  padding: 56px 4% 16px 4%;
  margin-top: 20px;
  min-width: 100%;
  background-color: var(--very-light-gray);
}

.testimony-box .user-photo {
  position: absolute;
  top: -40px;
  left: 40%;
  width: 80px;
  height: 80px;
}

.testimony-box .user-name {
  margin-top: 0;
  font-weight: 700;
  color: var(--very-dark-blue);
}

.back-btn,
.advanced-btn {
  display: none;
}

.slider-button-box {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.slider-button-box .slider-btn {
  padding: 0;
  width: 12px;
  height: 12px;
  border: thin solid var(--bright-red);
  background-color: transparent;
  border-radius: 50%;
  transition: all 300ms;
}

.slider-button-box .slider-btn.selected {
  background-color: var(--bright-red);
}

.simplify-container {
  padding: 72px 4%;
  text-align: center;
  color: var(--very-light-gray);
  background: url(../images/bg-simplify-section-mobile.svg), var(--bright-red);
  background-position: 0px center, center;
  background-repeat: no-repeat;
}

.simplify-container .title {
  margin-top: 0;
  font-size: 40px;
}

.simplify-container .getstarted-btn {
  color: var(--bright-red);
  background-color: var(--very-light-gray);
  transition: all 300ms;
}

.simplify-container .getstarted-btn:hover {
  color: #f89074;
}

footer {
  padding: 48px 4% 32px 4%;
  color: var(--very-light-gray);
  background-color: var(--very-dark-blue);
}

.footer-form {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 6px;
}

.footer-form .input-updates {
  padding-left: 12px;
  min-width: 150px;
  flex: 3;
  color: var(--bright-red);
  border: thin solid transparent;
  border-radius: 24px;
  outline: none;
}

.footer-form .input-updates::placeholder {
  color: var(--very-dark-blue);
}

.footer-form .input-updates:focus {
  border-color: var(--bright-red);
}

.footer-form .input-updates.error {
  border-color: var(--bright-red);
}

.footer-form .error-msg {
  position: absolute;
  top: 100%;
  left: 16px;
  margin-top: 6px;
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 10px;
  color: var(--bright-red);
  opacity: 0;
  transition: all 300ms;
}

.footer-form .error-msg.show {
  opacity: 1;
}

.footer-form .go-btn {
  padding: 8px 0;
  min-width: 60px;
  flex: 1;
  font-weight: 700;
  color: var(--very-light-gray);
  border-radius: 24px;
  border: none;
  background-color: var(--bright-red);
  transition: all 300ms;
}

.footer-form .go-btn:hover {
  background-color: #f89074;
}

.footer-menu {
  margin: 48px 0;
  display: flex;
  justify-content: center;
  gap: 32%;
}

.footer-menu .part-1,
.footer-menu .part-2 {
  line-height: 2;
}

.social-media-list {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu .link,
.social-media-list .link {
  transition: all 300ms;
}

.footer-menu .link:hover,
.social-media-list .link:hover {
  color: var(--bright-red);
}

.social-media-list .fa-brands {
  font-size: 28px;
}

footer .logo {
  margin: 0 auto 32px auto;
  display: block;
}

footer .copyright {
  margin-bottom: 0;
  text-align: center;
  font-size: 0.8em;
  color: var(--dark-grayish-blue);
}

.attribution {
  padding: 16px 2%;
  text-align: center;
  font-size: 10px;
}

.attribution .flip-element {
  display: inline-block;
  perspective: 1400px;
}

.attribution .flip-element.mentor {
  width: 94px;
}

.attribution .flip-element-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 600ms ease-in-out;
  transform-style: preserve-3d;
}

.flip-element:hover .flip-element-inner {
  cursor: pointer;
  transform: rotateX(180deg);
}

.flip-element .flip-element-front,
.flip-element .flip-element-back {
  position: absolute;
  top: -14px;
  backface-visibility: hidden;
}

.flip-element .flip-element-front {
  padding: 2px 4px;
  color: var(--very-light-gray);
  background-color: var(--very-dark-blue);
  border-radius: 2px;
}

.flip-element .flip-element-back {
  padding: 2px 4px;
  color: var(--very-light-gray);
  background-color: var(--bright-red);
  border-radius: 2px;
}

.attribution .flip-element.author {
  width: 82px;
}

.link-mentor,
.link-author {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  .header-container {
    background: url(../images/bg-tablet-pattern.svg);
    background-size: 58vw 58vw;
    background-position: 52vw -16vw;
    background-repeat: no-repeat;
  }

  .nav-bar {
    padding-left: 8%;
    padding-right: 8%;
    height: 16vh;
  }

  .nav-bar .logo {
    width: 134px;
  }

  .nav-bar .menu-box {
    position: initial;
    padding-bottom: 0;
    height: initial;
    width: initial;
  }

  .nav-bar .nav-menu {
    height: initial;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    background-color: transparent;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }

  .ham-btn {
    display: none;
  }

  .nav-bar .getstarted-btn {
    display: block;
  }

  .intro-header {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
    text-align: left;
  }

  .intro-header .title {
    font-size: 52px;
    padding-right: 6vw;
  }

  .intro-header .paragraph {
    padding-left: 0;
    padding-right: 12vw;
  }

  main {
    background: url(../images/bg-tablet-pattern.svg);
    background-size: 50vw 50vw;
    background-position: -32vw 14vw;
    background-repeat: no-repeat;
  }

  .about-manage {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
  }

  .header-about-manage .title {
    padding-right: 10vw;
    text-align: left;
  }

  .header-about-manage > p {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 12vw;
    text-align: left;
  }

  .about-manage article {
    padding-left: 0;
  }

  .about-manage .article-title {
    background-color: transparent;
  }

  .article-about-manage .text {
    padding-left: 78px;
    padding-right: 0;
  }

  .testimonial-container {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
  }

  .testimonial-articles-box {
    margin-top: 20px;
    margin-bottom: 32px;
    gap: 18px;
  }

  .testimony-box {
    margin-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 8px;
    min-width: 38vw;
  }

  .testimony-box .user-photo {
    left: 42%;
  }

  .back-btn,
  .advanced-btn {
    position: absolute;
    top: 48%;
    width: 60px;
    height: 60px;
    display: initial;
    font-size: 28px;
    color: var(--very-light-gray);
    border: none;
    background-color: var(--bright-red);
    border-radius: 50%;
    opacity: 0;
    transition: all 300ms;
  }

  .testimonial-container:hover .back-btn,
  .testimonial-container:hover .advanced-btn {
    opacity: 1;
  }

  .back-btn {
    left: 18px;
  }

  .advanced-btn {
    right: 18px;
  }

  .slider-button-box {
    display: none;
  }

  .simplify-container {
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    background: url(../images/bg-simplify-section-desktop.svg),
      var(--bright-red);
    background-position: 16vw -8vw, center;
    background-repeat: no-repeat;
  }

  .simplify-container .title {
    margin-bottom: 0;
  }

  .simplify-container .getstarted-btn {
    justify-self: end;
    align-self: center;
  }

  footer {
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-form {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: start;
  }

  .footer-menu {
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: flex-start;
  }

  .social-media-list {
    margin: 0;
    width: 152px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    justify-content: space-between;
  }

  .social-media-list .fa-brands {
    font-size: 20px;
  }

  footer .logo {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
  }

  footer .copyright {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    align-self: end;
  }

  .attribution {
    font-size: 12px;
  }

  .attribution .flip-element.mentor {
    width: 110px;
  }

  .flip-element .flip-element-back {
    top: -2px;
    transform: rotateX(180deg);
  }

  .attribution .flip-element.author {
    width: 96px;
  }
}
