:root {
  /* ## Colors */

  /* ### Primary */

  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  /* ### Neutral */

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
}

.header-container {
  padding-bottom: 104px;
  background: url(../images/bg-tablet-pattern.svg),
    url(../images/bg-tablet-pattern.svg);
  background-size: 120vw 120vw, 80vw 80vw;
  background-position: 16vw -44vw, 62vw 116vw;
  background-repeat: no-repeat, no-repeat;
}

.nav-bar {
  position: relative;
  padding: 0 5%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .logo {
  width: 100px;
  min-width: 100px;
}

.nav-bar .nav-menu {
  position: absolute;
  top: 100%;
  display: none;
}

.getstarted-btn {
  padding: 8px 20px;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--very-light-gray);
  background-color: var(--bright-red);
  border: none;
  border-radius: 28px;
  box-shadow: 0 4px 6px 0 hsla(12, 88%, 59%, 0.4);
}

.ham-btn {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
}

.ham-btn img {
  display: block;
  width: 24px;
  height: 18px;
}

.ham-icon {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.nav-bar .getstarted-btn {
  display: none;
}

.intro-header {
  padding: 0 5%;
  color: var(--dark-grayish-blue);
  text-align: center;
}

.intro-header .text-content {
}

.intro-header .paragraph {
  padding: 0 8%;
}

.intro-header .title {
  color: var(--very-dark-blue);
}
